@{
    Layout = "_Admin";
}
@{
    ViewData["Title"] = "AdminInfo";
}

<div class="content-wrapper">
    <div class="container-fluid">

        <div class="card mt-2">
            <div class="card-content">
                <div class="row row-group py-3 m-0">
                    <div class="col-12 col-lg-12 col-xl-12 border-light">
                        <div class="card-body">
                            <h5 class="text-white mb-0">9526 <span class="float-right"><i class="zmdi zmdi-account-o"></i></span></h5>
                            <div class="progress my-4" style="height:3px;">
                                <div class="progress-bar" style="width:55%"></div>
                            </div>
                            <p class="mb-0 text-white small-font">
                                Total Admins<span class="float-right">+40.12% <i class="zmdi zmdi-long-arrow-up"></i></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        Recent Order Tables
                        <div class="card-action">
                            <div class="dropdown">
                                <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                                    <i class="icon-options"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="javascript:void();">Action</a>
                                    <a class="dropdown-item" href="javascript:void();">Another action</a>
                                    <a class="dropdown-item" href="javascript:void();">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="javascript:void();">Separated link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush table-borderless">
                            <thead>
                                <tr>
                                    <th>Admin Id</th>
                                    <th>Name</th>
                                    <th>Photo</th>
                                    <th>Email</th>
                                    <th>Actions</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>01</td>
                                    <td>Owais</td>
                                    <td><img src="https://via.placeholder.com/110x110" class="product-img" alt="product img"></td>
                                    <td>Owais@gmail.com</td>
                                    <td>
                                        <div>
                                            <a href="#" style=" color: rgb(12, 46, 199); font-size: 20px;">
                                                <i class="fa-solid fa-pen-to-square "></i>
                                            </a>
                                            <a href="#" class="mx-3" style=" color: rgb(219, 37, 29); font-size: 20px;">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>            <tr>
                                    <td>01</td>
                                    <td>Owais</td>
                                    <td><img src="https://via.placeholder.com/110x110" class="product-img" alt="product img"></td>
                                    <td>Owais@gmail.com</td>
                                    <td>
                                        <div>
                                            <a href="#" style=" color: rgb(12, 46, 199); font-size: 20px;">
                                                <i class="fa-solid fa-pen-to-square "></i>
                                            </a>
                                            <a href="#" class="mx-3" style=" color: rgb(219, 37, 29); font-size: 20px;">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>            <tr>
                                    <td>01</td>
                                    <td>Owais</td>
                                    <td><img src="https://via.placeholder.com/110x110" class="product-img" alt="product img"></td>
                                    <td>Owais@gmail.com</td>
                                    <td>
                                        <div>
                                            <a href="#" style=" color: rgb(12, 46, 199); font-size: 20px;">
                                                <i class="fa-solid fa-pen-to-square "></i>
                                            </a>
                                            <a href="#" class="mx-3" style=" color: rgb(219, 37, 29); font-size: 20px;">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>            <tr>
                                    <td>01</td>
                                    <td>Owais</td>
                                    <td><img src="https://via.placeholder.com/110x110" class="product-img" alt="product img"></td>
                                    <td>Owais@gmail.com</td>
                                    <td>
                                        <div>
                                            <a href="#" style=" color: rgb(12, 46, 199); font-size: 20px;">
                                                <i class="fa-solid fa-pen-to-square "></i>
                                            </a>
                                            <a href="#" class="mx-3" style=" color: rgb(219, 37, 29); font-size: 20px;">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>            <tr>
                                    <td>01</td>
                                    <td>Owais</td>
                                    <td><img src="https://via.placeholder.com/110x110" class="product-img" alt="product img"></td>
                                    <td>Owais@gmail.com</td>
                                    <td>
                                        <div>
                                            <a href="#" style=" color: rgb(12, 46, 199); font-size: 20px;">
                                                <i class="fa-solid fa-pen-to-square "></i>
                                            </a>
                                            <a href="#" class="mx-3" style=" color: rgb(219, 37, 29); font-size: 20px;">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>            <tr>
                                    <td>01</td>
                                    <td>Owais</td>
                                    <td><img src="https://via.placeholder.com/110x110" class="product-img" alt="product img"></td>
                                    <td>Owais@gmail.com</td>
                                    <td>
                                        <div>
                                            <a href="#" style=" color: rgb(12, 46, 199); font-size: 20px;">
                                                <i class="fa-solid fa-pen-to-square "></i>
                                            </a>
                                            <a href="#" class="mx-3" style=" color: rgb(219, 37, 29); font-size: 20px;">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!--End Row-->



    </div>

</div><!--End wrapper-->