@{
    Layout = "_Admin";
}
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="card mt-3">
            <div class="card-content">
                <div class="row row-group m-0">
                    <div class="col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 class="text-white mb-0">
                                9526 <span class="float-right">
                                    <i class="fa fa-shopping-cart"></i>
                                </span>
                            </h5>
                            <div class="progress my-3" style="height:3px;">
                                <div class="progress-bar" style="width:55%"></div>
                            </div>
                            <p class="mb-0 text-white small-font">
                                Customers <span class="float-right">
                                    +4.2% <i class="zmdi zmdi-long-arrow-up"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 class="text-white mb-0">
                                8323 <span class="float-right">
                                    <i class="fa fa-usd"></i>
                                </span>
                            </h5>
                            <div class="progress my-3" style="height:3px;">
                                <div class="progress-bar" style="width:55%"></div>
                            </div>
                            <p class="mb-0 text-white small-font">
                                Insurence Requests <span class="float-right">
                                    +1.2% <i class="zmdi zmdi-long-arrow-up"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 class="text-white mb-0">
                                6200 <span class="float-right">
                                    <i class="fa fa-eye"></i>
                                </span>
                            </h5>
                            <div class="progress my-3" style="height:3px;">
                                <div class="progress-bar" style="width:55%"></div>
                            </div>
                            <p class="mb-0 text-white small-font">
                                Pending <span class="float-right">
                                    +5.2% <i class="zmdi zmdi-long-arrow-up"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 class="text-white mb-0">
                                5630 <span class="float-right">
                                    <i class="fa fa-envira"></i>
                                </span>
                            </h5>
                            <div class="progress my-3" style="height:3px;">
                                <div class="progress-bar" style="width:55%"></div>
                            </div>
                            <p class="mb-0 text-white small-font">
                                Approved <span class="float-right">
                                    +2.2% <i class="zmdi zmdi-long-arrow-up"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="my-1">Insurance Requests</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush table-borderless">
                            <thead>
                                <tr>
                                    <th>Customer Name</th>
                                    <th>Car Name</th>
                                    <th>Car Model</th>
                                    <th>Car Number</th>
                                    <th>Car Owner</th>
                                    <th>Engine Number</th>
                                    <th>CC</th>
                                    <th>Plan</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Iphone 5</td>
                                    <td>iphone5@example.com</td>
                                    <td>123-456-7890</td>
                                    <td>*********</td>
                                    <td>03 Aug 2017</td>
                                    <td>03 Aug 2017</td>
                                    <td>03 Aug 2017</td>
                                    <td>
                                        <div class="status-select">
                                            <select class="customselect">
                                                <option value="pending">Pending</option>
                                                <option value="approved">Approved</option>
                                            </select>
                                            <i class="status-icon"></i>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<style>
    .statusselect {
        position: relative;
    }

    .customselect {
        padding: 8px 12px;
        font-size: 16px;
        color: white;
        background-color: green;
        border-radius: 5px;
        border: none;
    }

        .customselect option[value="pending"] {
            background-color: green;
            color: white;
        }

        .customselect option[value="approved"] {
            background-color: blue;
            color: white;
        }

    .status-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
        color: green;
        display: none;
    }

    .customselect:focus + .status-icon {
        display: block;
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var previousValue = $('.customselect').val();

        $('.customselect').change(function () {
            var selectedValue = $(this).val();

            if (selectedValue === 'approved') {
                $(this).prop('disabled', true);  // Disable select after approval
            }

            if (previousValue === 'approved' && selectedValue === 'pending') {
                $(this).val('approved');  // If trying to revert to pending after approval, keep it approved
            }

            previousValue = $(this).val();

            updateStatusIcons();
        });

        function updateStatusIcons() {
            $('.customselect').each(function () {
                var $select = $(this);
                var $icon = $select.parent().find('.status-icon');

                if ($select.val() === 'pending') {
                    $icon.removeClass().addClass('status-icon zmdi zmdi-time');
                    $select.css({
                        'background-color': 'blue',
                        'color': 'white'
                    });
                } else if ($select.val() === 'approved') {
                    $icon.removeClass().addClass('status-icon zmdi zmdi-check-circle');
                    $select.css({
                        'background-color': 'green',
                        'color': 'white'
                    });
                }
            });
        }

        // Initialize status icons on page load
        updateStatusIcons();
    });
</script>